---
# 필요하면 여기서 오버라이드
dr_web_title: "DR WEB SERVER"
dr_web_note: "Warm Standby - DR 전환 확인용"
dr_fastapi_port: 8000


pg_version: "15"
stanza_name: "pgcluster"

primary_ip: "172.16.6.57"
dr_ip: "172.16.6.58"

postgres_user: "postgres"

pg_data_dir: "/var/lib/pgsql/{{ pg_version }}/data"

pgbackrest_conf_dir: "/etc/pgbackrest"
pgbackrest_conf: "/etc/pgbackrest/pgbackrest.conf"
pgbackrest_repo_dir: "/var/lib/pgbackrest"

pgdg_repo_rpm: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-9-x86_64/pgdg-redhat-repo-latest.noarch.rpm"

# DR이 primary에 키 심어줄 대상 호스트(인벤토리 호스트명)
primary_inventory_host: "db01"

# Primary PostgreSQL 설정 파일 경로 (Primary role에서 사용)
pg_conf_path: "/var/lib/pgsql/{{ pg_version }}/data/postgresql.conf"

# archive 설정 (Primary role에서 사용)
pg_archive_mode: "on"
pg_archive_timeout: "60s"
pgbackrest_archive_command: "pgbackrest --stanza={{ stanza_name }} archive-push %p"

# Primary에서 postgresql 서비스명 (환경에 따라 다를 수 있음)
pg_service_name: "postgresql-{{ pg_version }}"

ansible_user: root
ansible_ssh_pass: "{{ vault_root_ssh_pass }}"
