- name: Check if stanza exists
  become: true
  become_user: postgres
  command: pgbackrest info --stanza={{ stanza_name }}
  register: stanza_info
  failed_when: false
  changed_when: false

- name: Create pgBackRest stanza
  become: true
  become_user: postgres
  command: pgbackrest --stanza={{ stanza_name }} stanza-create
  when: stanza_info.rc != 0
