---
# handlers file for roles/node_exporter

- name: daemon-reload
  systemd:
    daemon_reload: true
    
- name: Restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
    daemon_reload: true