- name: Ensure postgres authorized_keys exists on DB
  become: true
  shell: |
    sudo -iu postgres bash <<'EOF'
    mkdir -p ~/.ssh
    chmod 700 ~/.ssh
    touch ~/.ssh/authorized_keys
    chmod 600 ~/.ssh/authorized_keys
    EOF
  args:
    executable: /bin/bash

- name: Add repo postgres pubkey to DB authorized_keys
  become: true
  shell: |
    sudo -iu postgres bash <<'EOF'
    AUTH="$HOME/.ssh/authorized_keys"
    KEY="{{ hostvars[groups['pgbackrest_repo'][0]].repo_postgres_pubkey }}"
    grep -qxF "$KEY" "$AUTH" || echo "$KEY" >> "$AUTH"
    EOF
  args:
    executable: /bin/bash
