apiVersion: 1

providers:
  # 기존 기본 대시보드 (Node Exporter 등)
  - name: "default"
    orgId: 1
    folder: ""
    type: file
    disableDeletion: false
    editable: true
    options:
      path: {{ grafana_dashboards_path }}

  # dbbackup collecter 전용 (pgBackRest)
  - name: "dbbackup-collector"
    orgId: 1
    folder: "DR"
    type: file
    disableDeletion: false
    editable: true
    options:
      path: {{ grafana_dashboards_path }}
