---
- name: Install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

- name: Enable and start nginx
  ansible.builtin.systemd:
    name: nginx
    enabled: true
    state: started

- name: Deploy DR index page
  ansible.builtin.template:
    src: index.html.j2
    dest: "{{ dr_web_root }}/index.html"
    mode: "0644"
  notify: Restart nginx
