- name: Stop Patroni on DR DB node
  hosts: dr_db
  become: true
  tasks:
    - name: Stop patroni
      systemd:
        name: patroni
        state: stopped

- name: Restore PostgreSQL data from pgBackRest
  hosts: dr_db
  become: true
  become_user: postgres
  tasks:
    - name: Clean old data directory
      file:
        path: /var/lib/pgsql/15/data
        state: absent

    - name: Restore from pgBackRest
      command: pgbackrest --stanza=pgcluster restore

- name: Start Patroni on DR DB node
  hosts: dr_db
  become: true
  tasks:
    - name: Start patroni
      systemd:
        name: patroni
        state: started
