[global]
repo1-path={{ pgbackrest_repo_dir }}
repo1-retention-full=2
process-max=4
start-fast=y

[global:archive-push]
compress-level=3

[{{ stanza_name }}]
pg1-path={{ pg_data_dir }}
pg1-host={{ primary_ip }}
pg1-user={{ postgres_user }}
