[global]
process-max=4
start-fast=y

{% if pgbackrest_repo_on_primary %}
repo1-path={{ pgbackrest_repo_dir_primary }}
repo1-retention-full=2
{% endif %}

[{{ stanza_name }}]
pg1-path={{ pg_data_dir }}

{% if primary_push_to_dr_repo %}
repo1-host={{ dr_repo_host }}
repo1-host-user={{ postgres_user }}
repo1-path={{ dr_repo_path }}
{% endif %}
